name: Gradle Wrapper Validation

on:
  push:
    branches: [main]
    paths:
      - '**/gradle-wrapper.jar'
      - '**/gradle-wrapper.properties'
  pull_request:
    branches: [main]
    paths:
      - '**/gradle-wrapper.jar'
      - '**/gradle-wrapper.properties'
  workflow_dispatch:

jobs:
  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4
